.empty {
    height: 200px;
}

.s-form {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightskyblue;
}

.contain-faq {
    width: 706px;
    height: 900px;
    background-color: white;
    border: 3px solid white;
    border-radius: 4px;
}

.h2-span {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightskyblue;
    width: 700px;
    height: 100px;
    align-items: center;
}

.h2 {
    font-size: 32px;
    margin: 0;

}

.p1 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 20px;
}

.h3 {
    margin-left: 10%;
    margin-top: 7%;
}

.form {
    width: 700px;
    height: 500px;
    border: 3px solid white;
    border-radius: 4px;
    background-color: white;
}

.header {
    width: 694px;
    height: 50px;
    background-color: lightskyblue;
    display: block;
}


.h1 {
    height: 50px;
    margin-left: 5%;
    text-decoration: underline;
    display: inline;
    color: white;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
}

.logo {
    width: 100px;
    height: 50px;
    float: right;
}

#fname {
    margin-left: 5%;
}

#name {
    width: 300px;
    margin-bottom: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: lightskyblue;
    margin-left: 5%;
}

.label {
    margin-left: 5%;
    margin-top: 8%;
}

#radio  {
    margin-left: 5%;
}

#other {
    margin-left: 5%;
    margin-bottom: 5%;
}

#email {
    width: 300px;
    margin-top: 10px;
    margin-left: 5%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: lightskyblue;

}

#subscribe {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 5%;
}

.pic {
    float: right;
}

.span-submit {
    width: 400px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#submit {
    width: 100px;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: none;
    background-color: lightskyblue;
    color: white;
    background-image: -webkit-linear-gradient(283deg, rgba(255, 255, 255, 0.1) 50%, transparent 55%),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), transparent);
    text-decoration: none;
}


#submit:hover {
    width: 150px;
    height: 70px;
    border-radius: 3px;
    border-color: black;
    font-size: 24px;
    cursor: pointer;
    transition-duration: 1s;
}


/*Mobile settings */

@media screen  and (max-width: 400px){

    .empty {
        display: none;
    }

    .form {
        width: 350px;
        
    }

    .header {
        width: 350px;
    }

    .span-submit {
        width: 350px;
        display: flex;
        justify-content: center;
    }

    #submit:hover {
        transition: none;
        width: 100px;
        height: 45px;
        margin-top: 25px;
        border-radius: 50%;
        border: none;
        background-color: lightskyblue;
        color: white;
        font-size: 16px;
    }

    .pic {
        display: none;
    }

    .contain-faq {
        width: 350px;
    }

    .s-form {
        width: 350px;
        display: flex;
        flex-wrap: wrap;
    }

    .h2-span {
        width: 350px;
    }

    .h2 {
        font-size: 22px;
    }
}

/* Diana: navigation bar starts*/
nav {
    background-color: white;
    border-bottom: 2px solid #08376b;
  }
  
  nav .navbar-nav .nav-link.active {
    color: #08376b;
  }
  
  nav .container-fluid {
    width: 80%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
  nav .container-fluid ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  nav .container-fluid ul li {
    margin: 1rem 0;
    padding-left: 2rem;
  }
  
  nav .container-fluid ul a {
    border-radius: 20px;
  }
  
  .offcanvas-header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
  .offcanvas-header .btn-close {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  
  .album.py-5 {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    background-color: #ffff;
  }
  
  .album.py-5 button {
    margin-top: 0.75rem;
  }
  
  .album.py-5 img {
    border-radius: 0.25rem 0.25rem 0 0;
  }
  
  .container.text-center {
    margin-top: 2rem;
  }
  
  .container.text-center img {
    border-radius: 50%;
  }
  
  .container.text-center img:hover {
    border-color: #08376b;
  }
  
  .nav-item a {
    padding-left: 1rem;
  }
  
  .nav-item a:hover {
    background-color: #33ccff;
  }
  
  /* Diana: Navigation bar ends*/