nav {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid #08376b;
  .navbar-nav .nav-link.active {
    color: #08376b;
  }
}

.container-fluid {
  width: 80%;
  justify-content: flex-start;
  ul {
    justify-content: flex-end;
    li {
      margin: 1rem 0;
      padding-left: 2rem;
    }
    a {
      border-radius: 20px;
    }
  }
}
.offcanvas-header {
  justify-content: flex-start;
  .btn-close {
    align-self: flex-start;
  }
}
.nav-item a {
  padding-left: 1rem;
  &:hover {
    background-color: #33ccff;
  }
}
.album.py-5 {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  background-color: #08366b1a;
  border-radius: 0.5rem;
  button {
    margin-top: 0.75rem;
  }
  img {
    border-radius: 0.25rem 0.25rem 0 0;
    border: 3px solid #08376b;
  }
  .card-body {
    background-color: #08376b;
    color: #fff;
    border-radius: 0 0 0.25rem 0.25rem;
  }
  .col {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .btn-outline-secondary {
    border-radius: 20px;
    color: #fff;
    padding: 0.5rem;
    border: none;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.396);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    &:hover {
      background-color: #33ccff;
    }
  }
}
.text_categories {
  padding: 0.5rem;
  color: #08376b;
  text-transform: uppercase;
}
.container.text-center {
  margin-top: 2rem;
  img {
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 20px 8px rgba(8, 54, 107, 0.3);
    transition: all 0.3s ease 0s;
    cursor: pointer;

    &:hover {
      background-color: rgb(51, 204, 255);
      box-shadow: 0px 15px 20px rgba(51, 204, 255, 0.6);
      color: #fff;
      transform: translateY(-7px);
    }
  }
}
.container_section_1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.397)),
    url(/images/dog_wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_title {
    color: #ffff;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .fa-chevron-down {
    font-size: 32px;
    color: #ffff;
  }
  .arrow {
    color: #ffff;
    font-size: 25px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
  }
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
@media screen and (max-width: 990px) {
  .img-thumbnail {
    width: 65%;
  }
}
