nav {
  background-color: white;
  border-bottom: 2px solid #08376b;
}

nav .navbar-nav .nav-link.active {
  color: #08376b;
}

.container-fluid {
  width: 80%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container-fluid ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container-fluid ul li {
  margin: 1rem 0;
  padding-left: 2rem;
}

.container-fluid ul a {
  border-radius: 20px;
}

.offcanvas-header {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.offcanvas-header .btn-close {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.nav-item a {
  padding-left: 1rem;
}

.nav-item a:hover {
  background-color: #33ccff;
}

.album.py-5 {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  background-color: #08366b1a;
  border-radius: 0.5rem;
}

.album.py-5 button {
  margin-top: 0.75rem;
}

.album.py-5 img {
  border-radius: 0.25rem 0.25rem 0 0;
  border: 3px solid #08376b;
}

.album.py-5 .card-body {
  background-color: #08376b;
  color: #fff;
  border-radius: 0 0 0.25rem 0.25rem;
}

.album.py-5 .col {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.album.py-5 .btn-outline-secondary {
  border-radius: 20px;
  color: #fff;
  padding: 0.5rem;
  border: none;
  -webkit-box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.396);
          box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.396);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.album.py-5 .btn-outline-secondary:hover {
  background-color: #33ccff;
}

.text_categories {
  padding: 0.5rem;
  color: #08376b;
  text-transform: uppercase;
}

.container.text-center {
  margin-top: 2rem;
}

.container.text-center img {
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 1px 1px 20px 8px rgba(8, 54, 107, 0.3);
          box-shadow: 1px 1px 20px 8px rgba(8, 54, 107, 0.3);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.container.text-center img:hover {
  background-color: #33ccff;
  -webkit-box-shadow: 0px 15px 20px rgba(51, 204, 255, 0.6);
          box-shadow: 0px 15px 20px rgba(51, 204, 255, 0.6);
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.container_section_1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.397))), url(/images/dog_wallpaper.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.397)), url(/images/dog_wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_section_1_title {
  color: #ffff;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container_section_1 .fa-chevron-down {
  font-size: 32px;
  color: #ffff;
}

.container_section_1 .arrow {
  color: #ffff;
  font-size: 25px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
          animation-name: arrow;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@media screen and (max-width: 990px) {
  .img-thumbnail {
    width: 65%;
  }
}
/*# sourceMappingURL=gallery.css.map */